* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #f7f5f5;
}

main header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 45px;
  -webkit-box-shadow: 2px 0 2px 1px grey;
  box-shadow: 2px 0 2px 1px grey;
  background-color: white;
}

main header .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

main header .nav-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  padding: 5px 20px;
  text-decoration: none;
}

main header .nav-header a:hover {
  border: 2.5px solid #7c177c;
  border-width: 0px 0px 2.5px 0px;
}

main header .nav-header a:active {
  color: black;
}

main .container {
  z-index: 0;
  height: 95%;
  padding: 3px 10px;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
  -ms-flex-pack: none;
  justify-content: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .container .form-desc {
  width: 100%;
  background-color: #f7f5f5;
  padding-top: 0.6rem;
  padding-bottom: 10px;
}

main .container .form-desc h1 {
  color: #6b6bdb;
}

main .container .form-desc p {
  color: #757575;
  font-size: 10px;
  margin-top: 5px;
}

main .container .form-container {
  position: relative;
  height: 88%;
  width: 100%;
  background-color: white;
}

main .container .form-container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

main .container .form-container form .text input,
main .container .form-container form .email input,
main .container .form-container form .phone input,
main .container .form-container form .name input {
  width: 100%;
  height: 1.8rem;
  padding: 0.5rem;
  border: none;
  -webkit-box-shadow: 0px 0px 0.8px 0.8px #6e6e6e;
  box-shadow: 0px 0px 0.8px 0.8px #6e6e6e;
  border-radius: 3px;
  margin-top: 5px;
}

main .container .form-container form .text input:focus,
main .container .form-container form .email input:focus,
main .container .form-container form .phone input:focus,
main .container .form-container form .name input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 1px 1px #af1ad4, 0px 1.4px 2px #ad77bb;
  box-shadow: 0px 0px 1px 1px #af1ad4, 0px 1.4px 2px #ad77bb;
}

main .container .form-container form .phone {
  position: relative;
}

main .container .form-container form .phone input {
  padding-left: 49px;
}

main .container .form-container form .phone img {
  position: absolute;
  left: 22px;
  top: 41px;
  width: 30px;
  height: 30px;
}

main .container .form-container form .name input {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

main .container .form-container form div {
  width: 90%;
  -ms-grid-column-align: center;
  justify-self: center;
  padding: 1rem;
}

main .container .form-container form .submit {
  color: white;
  background-color: #2daf2d;
  border: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

main .container .form-container form .radio-container div label {
  margin-right: 1rem;
}

main .container .form-container form .radio-container div label input {
  margin-right: 0.4rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  position: relative;
}

main .container .form-container form .radio-container div label input::before {
  opacity: 0;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #af1ad4;
  border-radius: 50%;
  z-index: 1;
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}

main .container .form-container form .radio-container div label input::after {
  content: "";
  opacity: 0;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1.5px solid #af1ad4;
}

main
  .container
  .form-container
  form
  .radio-container
  div
  label
  input:checked::before {
  opacity: 1;
}

main
  .container
  .form-container
  form
  .radio-container
  div
  label
  input:checked::after {
  opacity: 1;
}

.table-data {
  background-color: #fdf6fd;
  width: 100vw;
  height: 100vh;
  margin: 10px 10px;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
}

.table-data h1 {
  margin: 1rem 0;
  font-size: 2rem;
  color: #5c5c5c;
}

.table-data table {
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 1rem;
}

.table-data table th,
.table-data table td {
  border: 1px solid #c2c2c2;
  padding: 13px 28px;
}

.table-data table th {
  background-color: #f6e7f8;
  color: #4d4d4d;
}

@media screen and (max-width: 1040px) {
  main .container .form-container form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  main .container .form-container form .submit {
    position: relative;
    width: 200px;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

.errorMessage {
  color: #ff0f0f;
  background-color: #faf1f1;
  margin-top: 10px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 500;
  text-align: center;
}

.submission {
  color: green;
  background-color: #cdeccd;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 500;
  text-align: center;
  width: 50vw;
  height: 50vh;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */
