$primary-color: rgb(175, 26, 212);
@mixin center($justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(247, 245, 245);
  header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 45px;
    box-shadow: 2px 0 2px 1px grey;
    background-color: white;
    .nav-header {
      display: flex;
      height: 100%;
      a {
        @include center(center, row);
        list-style: none;
        padding: 5px 20px;
        text-decoration: none;
        &:hover {
          border: 2.5px solid rgb(124, 23, 124);
          border-width: 0px 0px 2.5px 0px;
        }
        &:active {
          color: black;
        }
      }
    }
  }
  .container {
    z-index: 0;
    height: 95%;
    padding: 3px 10px;
    transform: translateY(45px);
    @include center(none, column);
    .form-desc {
      width: 100%;
      background-color: rgb(247, 245, 245);
      padding-top: 0.6rem;

      padding-bottom: 10px;
      h1 {
        color: rgb(107, 107, 219);
      }
      p {
        color: rgb(117, 117, 117);
        font-size: 10px;
        margin-top: 5px;
      }
    }
    .form-container {
      position: relative;
      height: 88%;
      width: 100%;
      background-color: white;
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .text input,
        .email input,
        .phone input,
        .name input {
          width: 100%;
          height: 1.8rem;
          padding: 0.5rem;
          border: none;
          box-shadow: 0px 0px 0.8px 0.8px rgb(110, 110, 110);
          border-radius: 3px;
          margin-top: 5px;
          &:focus {
            outline: none;
            box-shadow: 0px 0px 1px 1px $primary-color,
              0px 1.4px 2px rgb(173, 119, 187);
          }
        }

        .phone {
          position: relative;
          input {
            padding-left: 49px;
          }
          img {
            position: absolute;
            left: 22px;
            top: 41px;
            width: 30px;
            height: 30px;
          }
        }
        .name input {
          align-self: flex-start;
        }
        div {
          width: 90%;
          justify-self: center;
          padding: 1rem;
        }
        .submit {
          color: white;
          background-color: rgb(45, 175, 45);
          border: none;
          outline: none;
          padding: 5px 20px;
          border-radius: 3px;
          position: absolute;
          bottom: 10px;
          right: 20px;
        }
        .radio-container div label {
          margin-right: 1rem;
          input {
            margin-right: 0.4rem;
            margin-left: 1rem;
            margin-top: 0.5rem;
            position: relative;
            &::before {
              opacity: 0;
              position: absolute;
              content: "";
              width: 8px;
              height: 8px;
              background-color: $primary-color;
              border-radius: 50%;
              z-index: 1;
              transform: translate(2px, 2px);
            }
            &::after {
              content: "";
              opacity: 0;
              position: absolute;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              border: 1.5px solid $primary-color;
            }
            &:checked::before {
              opacity: 1;
            }
            &:checked::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.table-data {
  background-color: rgb(253, 246, 253);
  width: 100vw;
  height: 100vh;
  margin: 10px 10px;
  transform: translateY(45px);

  h1 {
    margin: 1rem 0;
    font-size: 2rem;
    color: rgb(92, 92, 92);
  }
  table {
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 1rem;
    th,
    td {
      border: 1px solid rgb(194, 194, 194);
      padding: 13px 28px;
    }
    th {
      background-color: rgb(246, 231, 248);
      color: rgb(77, 77, 77);
    }
  }
}
@media screen and (max-width: 1040px) {
  main .container .form-container form {
    display: grid;
    grid-template-columns: 1fr;
    .submit {
      position: relative;
      width: 200px;
      justify-self: center;
      align-self: center;
    }
  }
}
.errorMessage {
  color: rgb(255, 15, 15);
  background-color: rgb(250, 241, 241);
  margin-top: 10px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 500;
  text-align: center;
}
.submission {
  color: green;
  background-color: rgb(205, 236, 205);
  font-size: 14px;
  border-radius: 3px;
  font-weight: 500;
  text-align: center;
  width: 50vw;
  height: 50vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 2rem;
}
